@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Define dark mode variables */
:root {
    /* ===================== COLORS ===================== */
    /* Primary Colors */
    --color-primary         : #2196F3;
    --dark-primary-color    : #1565C0;
    --light-primary-color   : #64B5F6;

    /* Secondary Colors */
    --color-secondary       : #00BCD4;
    --accent-color          : #009688;

    /* Some Colors */
    --color-black           : #1f2122;

    --glassBG-dark          : #1111116e;
    --glassBG-light         : #ffffff18;

    /* Background Colors */
    --bg-glass              : var(--glassBG-light);
    --bg-nav                : var(--color-black);
    --bg-body               : var(--color-black);
    --bg-footer             : var(--color-black);
    --bg-container          : var(--glassBG-light);
    --bg-section            : #1A1A1A;
    --bg-component          : #27292a;
    --bg-nested             : #3f3f3fc4;
    --color-borderLight     : #ffffff1f;

    /* Font Colors */
    --font-mainColor        : #E0E0E0;
    --font-secondaryColor   : #B0B0B0;
    --font-navColor         : #ffffff9f;
    --font-sideNavColor     : #E0E0E0;

    /* Other */
    --main-blur             : blur(30px);
    --transition-main       : all .3s ease;
    --distance-main         : 75px;
    --margin-main           : calc(var(--distance-main) - ( var(--distance-main) / 2 ));
    --padding-main          : calc(var(--distance-main) - ( var(--distance-main) / 3 ));
}

/* Define light mode variables */
[data-theme='light'] {

    /* Background Colors */
    --bg-glass              : var(--glassBG-dark);
    --bg-body               : #ffffff;
    --bg-footer             : #ffffff;
    --bg-section            : #f0f0f0;
    --bg-component          : #e0e0e0;
    --color-borderLight     : #0000003b;


    /* Font Colors */
    --font-mainColor        : #000000;
    --font-secondaryColor   : #333333;
    --font-navColor         : #ffffff9f;
    --font-sideNavColor     : #E0E0E0;

}





*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar             { width           : 5px                     ;}
::-webkit-scrollbar-track       { background-color: var(--bg-component)     ;}
::-webkit-scrollbar-thumb       { background-color: var(--color-primary)    ;}

body {
    font-family: 'Open Sans', system-ui, sans-serif;
    background-color:  var(--bg-body) ;
    color: var(--font-mainColor);
    transition: var(--transition-main);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input{
    outline: none;
}


